body.theme-bae {
  /* HEX: #00c48c */
  --theme-primary-50: 0 196 140;
  /* HEX: #00724d */
  --theme-primary-100: 0 114 77;

  /* HEX: #d7f0e5 */
  --theme-secondary-50: 215 240 229;
  /* HEX: #145c41 */
  --theme-secondary-100: 20 92 65;
  /* HEX: #0f3f2e */
  --theme-secondary-200: 15 63 46;
  /* HEX: #1c4d3b */
  --theme-secondary-300: 28 77 59;
}
