body.theme-bae {
  --theme-primary-50: #00c48c;
  --theme-primary-100: #00724d;
  --theme-secondary-50: #d7f0e5;
  --theme-secondary-100: #145c41;
  --theme-secondary-200: #0f3f2e;
  --theme-secondary-300: #1c4d3b;

}
